must3.mustache == BEGIN
{{#repo}}
  <b>{{name}}</b> reviewers:{{#who}} {{reviewer}}{{/who}} commiters:{{#who}} {{commiter}}{{/who}}
{{/repo}}

{{#person?}}
  Hi {{name}}!
{{/person?}}

{{=%(% %)%=}}
=====================================
%(%! big comment %)%
%(%#repo%)%
  <b>%(%name%)%</b> reviewers:%(%#who%)% %(%reviewer%)%%(%/who%)% commiters:%(%#who%)% %(%commiter%)%%(%/who%)%
%(%/repo%)%
=====================================
must3.mustache == END
